<!DOCTYPE html>
<html>
    <head>
        <title>Авторицация успешна</title>
    </head>
    <body>
      <h1> Поздрдавляю, вы успешно авторизировались </h1>
      <p><%= JSON.stringify(body) %></p>
<a href = '/clone.html'> На главную </a>
    </body>
	<script src="./socket/indexSocket.js"></script>
</html> 